@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#googleMap {
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  margin-bottom: -0.65em;
  padding: 1em;
}

h1 {
  text-align: center;
  color: white;
  font: 100% 'Inconsolata', Sans-Serif;
}
