head
  title LIT
  script#jquery(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript')
  script(src='http://maps.googleapis.com/maps/api/js?key=\AIzaSyDJq401SuPortgPDVZ4BPXssc1I-YO4O04')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js')
  script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(src='js/index_index.js')
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  body
    header
      h1 Lit
    #googleMap



