extends layout

block content
  h1= title
  p Welcome to #{title}

block headscripts
 	script(src='public/vendor/jquery/jquery.min.js') 

block content
	hi = title
	div(id='data') this is json data



 